<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8"/>
	</head>

	<body>
		<h1>Login</h1>
		<form action="/login" method="POST">
			Username: <input name="username" value="" /> <br/>
			Password: <input name="password" type="password" value="" /> <br/>
		<input type="submit" value="Login"/>

		</form>
	</body>


</html>
