<!DOCTYPE html>
<html>
        <head>
                <title>Hello</title>
                <meta charset='utf-8' />
        </head>
        <body>


	<form action = "/admin" method="GET">
                        <input type ="submit" value="HOME" />
         </form>



                <h1> {{name}}'s Page</h1>
                <h2> Your username is {{username}}</h2>

        </body>
</html>

